.card {
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemProduto {
  width: 100%;
  height: auto;
}
